<app-navbar></app-navbar>
<div class="contain">
    <div class="info">
        <p class="small-text">Lorem ipsum dolor sit.</p>
        <h3>Text</h3>
        <p class="text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis numquam tempore aliquid
            labore delectus minus ab qui deserunt, voluptate at eaque vero veritatis vel nobis laudantium. Sapiente
            dolor quibusdam fuga.</p>
    </div>
    <div class="card">
        <div class=" card-body">
            <h3 class="card-title">Card title</h3>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's
                content.</p>
            <form class="text-center" style="color: #757575;" action="#!">
                <!-- Email -->
                <div class="md-form">
                    <div class="form-item">
                        <label for="exampleInputEmail1">Nombre</label>
                        <input type="text" class="form-control" id="#">
                    </div>
                    <div class="form-item">
                        <label for="exampleInputEmail1">Email</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                </div>
            </form>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>