.contain{
    display: flex;
    height: 90vh;
    width:100%;
    max-height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
    @media only screen and (max-width: 768px){
        display: inline-block;
        flex-direction: column-reverse;
        height: 100%;
    }
    .card{
        h3{
            // background: rgb(2,0,36);
            // background: -webkit-linear-gradient(rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
            // -webkit-background-clip: text;
            // -webkit-text-fill-color: transparent;
        }
        text-align: center;
        margin: 15px;
        justify-self: center;
        max-width: 30rem;
        -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
        @media only screen and (max-width: 768px){
          .float-left{
            float: none!important;
          }
          .float-right{
            float: none!important;
          }
        }
    }
    .info{
        text-align: center;
        margin-right: 10%;
        max-width: 40%;
        @media only screen and (max-width: 768px){
            max-width:100%;
            margin-right: 0px;
            padding: 20px;
        }
        h3{
            color:white;
            font-size: 85px;
        }
        p{
            color:white;
            font-weight: 700;
        }
    }
}
.textarea{
    display: inline-grid;
}
a{
    margin-top: 10px;
}
.required{
    position: absolute;
    font-size: 10px;
    color: red;
}
.botton-container{
    display: inline-grid;
}
.alert{
    margin-top:20px ;
    margin-bottom: 0px;
}











/*ANIMATIONS*/
.scale-up-bl {
	-webkit-animation: scale-up-bl 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-bl 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.scale-up-bl-alert {
	-webkit-animation: scale-up-bl 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-bl 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes scale-up-bl {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
}
@keyframes scale-up-bl {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
}
.scale-in-center {
	-webkit-animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}



