<app-navbar></app-navbar>
<div class="contain">
    <div class="info">
        <p class="small-text">Lorem ipsum dolor sit.</p>
        <h3>Text</h3>
        <p class="text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis numquam tempore aliquid
            labore delectus minus ab qui deserunt, voluptate at eaque vero veritatis vel nobis laudantium. Sapiente
            dolor quibusdam fuga.</p>
    </div>
    <div class="card">
        <div class=" card-body">
            <h3 class="card-title">Card title</h3>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's
                content.</p>
            <form class="text-center" style="color: #757575;" #userForm="ngForm" (ngSubmit)="addUser(userForm)">
                <!-- Email -->
                <div class="md-form">
                    <div class="float-left">
                        <div class="form-item">
                            <label>Nombre</label>
                            <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="userService.selectedUser.name">
                        </div>
                        <div class="form-item">
                            <label>Email</label>
                            <input type="email" class="form-control"
                                aria-describedby="emailHelp" name="email" #email="ngModel" [(ngModel)]="userService.selectedUser.email">
                        </div>
                    </div>
                    <div class="float-right">
                        <div class="form-item">
                            <label>Apellido</label>
                            <input type="text" class="form-control"
                                name="lastName" #lastName="ngModel" [(ngModel)]="userService.selectedUser.lastName">
                        </div>
                        <div class="form-item">
                            <label>Telefono</label>
                            <input type="text" class="form-control"
                                name="number" #number="ngModel" [(ngModel)]="userService.selectedUser.number">
                        </div>
                    </div>
                    <div class="form-item" style="text-align: -webkit-center;">
                        <label>Localidad</label>
                        <input style="max-width: 300px;" type="text" class="form-control" name="location" #location="ngModel" [(ngModel)]="userService.selectedUser.location">
                    </div>
                    <div class="form-item textarea">
                        <label>Alguna Consulta?</label>
                        <textarea style="height: 100px;" class="form-control" name="question" #question="ngModel" [(ngModel)]="userService.selectedUser.question" cols="30" rows="2"></textarea>
                    </div>
                </div>
                <button style="margin-top: 10px;" type="button" class="btn btn-primary" (click)="addUser(userForm)">Enviar</button>
                <button style="margin-top: 10px;" type="button" class="btn btn-primary" (click)="resetForm(userForm)">Borrar Todo</button>
            </form>
        </div>
    </div>
</div>